<a href="https://colab.research.google.com/github/hiro106/pandas-leaning/blob/main/pd_apply.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html

In [ ]:
df_apply = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])

In [ ]:
df_apply

   A  B
0  4  9
1  4  9
2  4  9

In [ ]:
df_apply.apply(np.sqrt)

     A    B
0  2.0  3.0
1  2.0  3.0
2  2.0  3.0

In [ ]:
df_apply.apply(np.sum, axis=0)

A    12
B    27
dtype: int64

In [ ]:
df_apply.apply(np.sum, axis=1)

0    13
1    13
2    13
dtype: int64

In [ ]:
df_apply.apply(lambda x: [1, 2], axis=1)

0    [1, 2]
1    [1, 2]
2    [1, 2]
dtype: object

In [ ]:
df_apply.apply(lambda x: [1, 2], axis=1, result_type='expand')

   0  1
0  1  2
1  1  2
2  1  2

In [ ]:
df_apply.apply(lambda x: [1, 2], axis=1, result_type='broadcast')

   A  B
0  1  2
1  1  2
2  1  2