<a href="https://colab.research.google.com/github/hiro106/pandas-leaning/blob/main/pd_concat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas.concat

In [ ]:
# https://pandas.pydata.org/docs/reference/api/pandas.concat.html

In [ ]:
import pandas as pd

In [ ]:
s1 = pd.Series(['a', 'b'])

In [ ]:
s1

0    a
1    b
dtype: object

In [ ]:
type(s1)

pandas.core.series.Series

In [ ]:
s2 = pd.Series(['c', 'd'])

In [ ]:
s2

0    c
1    d
dtype: object

In [ ]:
pd.concat([s1, s2])

0    a
1    b
0    c
1    d
dtype: object

In [ ]:
pd.concat([s1, s2], sort=True)

0    a
1    b
0    c
1    d
dtype: object

In [ ]:
pd.concat([s1, s2], ignore_index=True)

0    a
1    b
2    c
3    d
dtype: object

In [ ]:
pd.concat([s1, s2], keys=['s1', 's2'])

s1  0    a
    1    b
s2  0    c
    1    d
dtype: object

In [ ]:
pd.concat([s1, s2], keys=['s1', 's2'], names=['Series name', 'Row ID'])

Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object

In [ ]:
df1 = pd.DataFrame([['a', 1], ['b', 2]], columns=['letter', 'number'])

In [ ]:
df1

  letter  number
0      a       1
1      b       2

In [ ]:
type(df1)

pandas.core.frame.DataFrame

In [ ]:
df2 = pd.DataFrame([['c', 3], ['d', 4]], columns=['letter', 'number'])

In [ ]:
df2

  letter  number
0      c       3
1      d       4

In [ ]:
pd.concat([df1, df2])

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [ ]:
df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']], columns=['letter', 'number', 'animal'])

In [ ]:
df3

  letter  number animal
0      c       3    cat
1      d       4    dog

In [ ]:
pd.concat([df1, df3], sort=False)

  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog

In [ ]:
pd.concat([df1, df3], sort=True)

  animal letter  number
0    NaN      a       1
1    NaN      b       2
0    cat      c       3
1    dog      d       4

In [ ]:
pd.concat([df1, df3], join="inner")

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [ ]:
df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']], columns=['animal', 'name'])

In [ ]:
df4

   animal    name
0    bird   polly
1  monkey  george

In [ ]:
pd.concat([df1, df4], axis=1)

  letter  number  animal    name
0      a       1    bird   polly
1      b       2  monkey  george

In [ ]:
pd.concat([df1, df4], axis=0)

  letter  number  animal    name
0      a     1.0     NaN     NaN
1      b     2.0     NaN     NaN
0    NaN     NaN    bird   polly
1    NaN     NaN  monkey  george

In [ ]:
df5 = pd.DataFrame([1], index=['a'])

In [ ]:
df5

   0
a  1

In [ ]:
df6 = pd.DataFrame([2], index=['a'])

In [ ]:
df6

   0
a  2

In [ ]:
pd.concat([df5, df6], verify_integrity=True)

ValueError: ignored

In [ ]:
pd.concat([df5, df6])

   0
a  1
a  2