<a href="https://colab.research.google.com/github/hiro106/pandas-leaning/blob/main/pd_df_loc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# df.loc

In [ ]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])

In [ ]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [ ]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [ ]:
df.loc[['viper', 'sidewinder']]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [ ]:
df.loc['cobra', 'shield']

2

In [ ]:
df.loc[df.max_speed == 4]

       max_speed  shield
viper          4       5

In [ ]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [ ]:
df.loc['cobra':'viper']

       max_speed  shield
cobra          1       2
viper          4       5

In [ ]:
df.loc['cobra', 'shield']

2

In [ ]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [ ]:
# df.loc['shield']  -> KeyError: 'shield'

In [ ]:
df2 = pd.DataFrame([['Japan', 'Asia', True], ['USA', 'America', False], ['China', 'Asia', True]],
     index=['Tokyo', 'LA', 'Beijing'],
     columns=['country', 'area', 'is_capital'])

In [ ]:
df2

        country     area  is_capital
Tokyo     Japan     Asia        True
LA          USA  America       False
Beijing   China     Asia        True

In [ ]:
type(df2)

pandas.core.frame.DataFrame

In [ ]:
type(df2.loc)

pandas.core.indexing._LocIndexer

In [ ]:
df2.loc['Tokyo']

country       Japan
area           Asia
is_capital     True
Name: Tokyo, dtype: object

In [ ]:
df2.loc['Tokyo':'Beijing']

        country     area  is_capital
Tokyo     Japan     Asia        True
LA          USA  America       False
Beijing   China     Asia        True

In [ ]:
df2.loc['LA':'Beijing']

        country     area  is_capital
LA          USA  America       False
Beijing   China     Asia        True

In [ ]:
df2.loc['Beijing':'LA']  # Output nothing.

Empty DataFrame
Columns: [country, area, is_capital]
Index: []

In [ ]:
# Performance of df.loc and alternatives
# https://stackoverflow.com/questions/37757844/pandas-df-locz-x-y-how-to-improve-speed

In [ ]:
df2.loc[:]['country']

Tokyo      Japan
LA           USA
Beijing    China
Name: country, dtype: object