<a href="https://colab.research.google.com/github/hiro106/pandas-leaning/blob/main/pd_df_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.values.html

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({'age':    [ 3,  29],
                   'height': [94, 179],
                   'weight': [31, 115]})

In [ ]:
df

   age  height  weight
0    3      94      31
1   29     179     115

In [ ]:
df.dtypes

age       int64
height    int64
weight    int64
dtype: object

In [ ]:
df.values

array([[  3,  94,  31],
       [ 29, 179, 115]])

In [ ]:
type(df.values)

numpy.ndarray

In [ ]:
df.iloc[0]

age        3
height    94
weight    31
Name: 0, dtype: int64

In [ ]:
df.values[0]

array([ 3, 94, 31])

In [ ]:
type(df.values[0][0])

numpy.int64

In [ ]:
import numpy as np

In [ ]:
df2 = pd.DataFrame([('parrot',   24.0, "second"),
                    ('lion',     80.5, 1),
                    ('monkey', np.nan, None)],
                   columns=('name', 'max_speed', 'rank'))

In [ ]:
df2

     name  max_speed    rank
0  parrot       24.0  second
1    lion       80.5       1
2  monkey        NaN    None

In [ ]:
df2.dtypes

name          object
max_speed    float64
rank          object
dtype: object

In [ ]:
df2.values

array([['parrot', 24.0, 'second'],
       ['lion', 80.5, 1],
       ['monkey', nan, None]], dtype=object)

In [ ]:
type(df2.values)

numpy.ndarray

In [ ]:
df2.iloc[0]

name         parrot
max_speed      24.0
rank         second
Name: 0, dtype: object

In [ ]:
type(df2.iloc[0])

pandas.core.series.Series

In [ ]:
df2.values[0]

array(['parrot', 24.0, 'second'], dtype=object)

In [ ]:
type(df2.values[0])

numpy.ndarray

In [ ]:
type(df2.values[0][1])

float

In [ ]:
type(df2.values[0][0])

str

In [ ]:
type(df2.values[0][2])

str